<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cr.o.cdc.sandboxAndroid">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".TestActivity" />
    </application>

</manifest>